.cordefundolampadas{
  background: #78cbf2;
}

.cordefundoar{
  background: #00bbff;
}

.cordefundotemperatura{
  background-color: lightskyblue;
}

.cordefundocortina{
  background: #5cb8e9;
}

.cordefundotelevisao{
  background:#01ccff;
}

